.pageContainer {
  background: #f2f2f2;
  padding: 1em;
  min-height: 100vh;
}

.pageTitle {
  font-weight: 500;
  margin: 0;
  font-size: 2.5em;
}

.section {
  padding: 2em 1em;
  background-color: #fafafa;
  width: 100%;
  margin-top: 2em;
  border-radius: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 6em;
}

.sectionTitle {
  font-weight: 500;
  font-size: 2em;
  margin: 0;
}

.rowButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.rowButton:hover {
  background-color: gainsboro;
  border-radius: 5px;
}

.cellIcon {
  width: 1.2em;
  height: 1.2em;
}

.riskScoreLow {
  color: green;
}

.riskScoreMedium {
  color: orange;
}

.riskScoreHigh {
  color: red;
}

.chartContainer {
  margin: 0 auto;
  width: 25%;
}

@media (max-width: 600px) {
  .chartContainer {
    width: 100%;
  }
}
